html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 110px;
    max-width: 1024px;
}

#footer {
    bottom: 0;
    height: 110px;
    line-height: 60px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
}

#footer .container {
    max-width: 680px;
    padding: 0 15px;
    width: auto;
}

form {
    max-width: 500px;
}

.title-1 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.title-2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

.horizontalSeparator {
    background-color: #e3ecf3;
    height: 2px;
    width: 100%;
    margin: 30px 0;
}

.align {
    margin-left: 30px;
}

#aprioriModal .modal-dialog {
    min-width: 100%;
    padding: 0 30px 0;
}

.dataTables_empty {
    vertical-align: middle;
}

button.dt-button.pressed {
    background-color: #e2e2e2;
    box-shadow: inset 1px 1px 3px #999999
}

.hidden {
    display: none !important;
}

#errorMsg {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 940px;
    min-width: 320px;
}

.spinner {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 21px;
    height: 21px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-right: 8px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

table.dataTable.table-dark tbody tr {
    background-color: #212529;
}